@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";

// Fonts

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");
@import url('https://fonts.cdnfonts.com/css/hemi-head-426');


// Animations

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 4 {
  .custom-animation-first {
    & > :nth-child(#{$i}) {
      animation-duration: 1.5s;
      animation-fill-mode: both;
      animation-name: drop;
      animation-delay: $i * 0.5s;
    }
  }
}
.custom-animation {
  &-second,
  &-third,
  &-fourth {
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }

  &-second {
    animation-name: pop;
    animation-delay: 2.5s;
  }

  &-third {
    animation-name: pop;
    animation-delay: 3s;
  }
  &-fourth {
    animation-name: drop;
    animation-delay: 3.5s;
  }
}

:root {
  font-family: "Titillium";
}

h1, h2, h3 {
  font-family: "Hemi Head FourTwentySix";
}

.spaced-text {
  letter-spacing: 0.15rem;
}

a {
  text-decoration: none !important;
}

a.custom-anchor {
  display: block;
  position: relative;
  top: -140px;
  @include media-breakpoint-up(xxl) {
    top: -90px;
  }
  visibility: hidden;
}

.custom-shadow,
input {
  transition: 0.3s;
}

.custom-shadow-none {
  box-shadow: none;
}

:is(.btn.text-primary:not(.streched-link), .custom-shadow, input, textarea):is(:hover, :focus) {
  box-shadow: $box-shadow-inset !important;
}

.custom-text-gradient,
h1,
h2,
h3 {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-text-hidden {
  @include media-breakpoint-down(lg) {
    @include visually-hidden;
  }
}

.nav-link.custom-nav-link {
  font-size: 10px;

  @include media-breakpoint-up(sm) {
    font-size: 0.7rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}

.custom-product-nav,
.navbar.custom-navbar {
  box-shadow: $top-shadow;
}

.navbar.custom-navbar {
  @include media-breakpoint-up(xxl) {
    position: relative;
    background-color: transparent;
    box-shadow: none;
  }
}

.custom-nav-icon {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.custom-list {
  padding-left: 5px;
}

.custom-list-item {
  line-height: 1.5;
  padding-left: 10px;
}

.custom-list-item::marker {
  content: "›";
  color: $primary;
  font-size: 1.5rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: $gradient;
}

sup {
  top: -0.3em !important;
}

hr {
  height: 1px !important;
}

input,
.form-select {
  box-shadow: $box-shadow;
}

select.form-select {
  height: 3.5rem !important;
}

.custom-textarea {
  resize: none;
}

img {
  border-radius: $border-radius;
}

body,
.custom-header,
.custom-product-nav {
  padding-inline: 5vw;
}

.custom-product-nav {
  @include media-breakpoint-up(xxl) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.nav {
  text-align: start !important;
}

.custom-split-button {
  width: 100px;
  height: 50px;
}

.hero {
  height: calc(100vh - 60px);
}

.custom-card {
  width: 350px;
  max-width: 350px;
}

.pressed {
  box-shadow: inset 20px 20px 60px #c8c8c8, inset -20px -20px 60px #ffffff;
}

.custom-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-image {
  min-width: 250px;
  min-height: 225px;
}

.custom-img-wrapper {
  padding: 30px;

  .custom-image-row {
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      z-index: 2;
    }
    margin-left: -50px;
    aspect-ratio: 1;
    width: 125px;
    background-color: white;

    @include media-breakpoint-up(lg) {
      width: 200px;
      margin-left: -75px;
    }
  }

  .custom-profile-image {
    margin-left: 0px;
  }
}

.custom-alert {
  position: fixed !important;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
