html {
  overflow-x: hidden;

  /* Prevent scroll on narrow devices */
}

body {
  padding-top: 72px;
}

.offcanvas-body {

  & img {
    object-fit: cover;
    height: 87px;
  }

  & #cart-total {
    width: 90%;
  }
}

.collapse {
  display: block !important;
}

@include media-breakpoint-up(lg) {
  #navClose {
    display: none;
  }
}


@media (max-width: 991.98px) {
  
  .custom-offcanvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    transition: .3s ease-in-out;
    
  }
  .open {
    transform: translateX(0%);
  }
  
  // .custom-offcanvas-product {
  //   position: fixed;
  //   top: 130px;
  // }
}

.search-box {
  width: 300px;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: $h6-font-size;
}
