// Fonts
$font-family-sans-serif: 'Titillium Web', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-size-base: 0.9rem;
$h6-font-size: $font-size-base * .9;


.spaced-text {
    letter-spacing: 0.15rem;
}

//Colors
$primary: hsl(212, 66%, 45%);
$secondary: hsl(214, 89%, 55%);
$gradient: linear-gradient(to left, $primary, $secondary);
$white: hsl(0, 0%, 98%);
$light: hsl(0, 0%, 94%);
$black: hsl(0, 0%, 10%);
$dark: $black;
$gray: hsl(0, 4%, 33%);
$body-color: $black;
$body-bg: $white;
$link-color: $primary;
$box-shadow:  10px 10px 20px hsl(0, 0%, 88%),
-10px -10px 30px #ffffff;

$carousel-control-color: $primary;
$carousel-indicator-active-bg: $primary;

//Spacing
$border-radius-lg: 0.75rem;

body, 
.navbar {
    padding-inline: 5vw;
}

.custom-card {
    max-width: 400px;
    // max-height: 350px;
}

// img {
//     height: 200px;
//     width: 300px;
//     background-size: cover;
// }