@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/variables';


// Animations


@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 4 {

  .custom-animation-first {
    & > :nth-child(#{$i}) {
      animation-duration: 1.5s;
      animation-fill-mode: both;
      animation-name: drop;
      animation-delay: $i * 0.5s;
    }
  }
}
.custom-animation {
  &-second, 
  &-third, 
  &-fourth {
    animation-duration: 1.5s;
    animation-fill-mode: both;
  } 

  &-second {
    animation-name: pop;
    animation-delay: 2.5s;
  }

  &-third {
    animation-name: pop;
    animation-delay: 3s;
  }
  &-fourth {
    animation-name: drop;
    animation-delay: 3.5s;
  }
}



.spaced-text {
  letter-spacing: 0.15rem;
}

a {
  text-decoration: none !important;
}

a.custom-anchor {
  display: block;
  position: relative;
  top: -140px;
  @include media-breakpoint-up(xxl) {
    top: -90px;
  }
  visibility: hidden;
}

.custom-text-gradient,
h1, 
h2, 
h3 {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

.custom-text-hidden {
  @include media-breakpoint-down(lg) {
    @include visually-hidden;
  }
}

.nav-link.custom-nav-link {
  font-size: 10px;

  @include media-breakpoint-up(sm) {
    font-size: 0.7rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}

.offcanvas-collapse.custom-offcanvas {
  @include media-breakpoint-up(lg) {
    box-shadow: none !important;
  }
}

.custom-product-nav,
.navbar.custom-navbar {
  box-shadow: $top-shadow;
}

.navbar.custom-navbar {
  @include media-breakpoint-up(xxl) {
    position: relative;
    background-color: transparent;
    box-shadow: none;
  }
}

.custom-nav-icon {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.custom-list {
  padding-left: 5px;
}

.custom-list-item {
  line-height: 1.5;
  padding-left: 10px;
}

.custom-list-item::marker {
  content: "›";
  color: $primary;
  font-size: 1.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  
  background: $gradient;
}

sup {
  top: -0.3em !important;
}

hr {
  height: 1px !important;
}

input,
.form-select {
  box-shadow: $box-shadow;
}

select.form-select {
  height: 3.5rem !important;
}

.custom-textarea {
  resize: none; 
}

body, 
.custom-header,
.custom-product-nav {
  padding-inline: 5vw;
}

.custom-product-nav {
  @include media-breakpoint-up(xxl) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.nav {
  text-align: start !important;
}

.custom-split-button {
  width: 100px;
  height:50px;
}

.hero {
  height: calc(100vh - 60px);
}

.custom-card {
  width: 350px;
  max-width: 350px;
}

.pressed {
  box-shadow: inset 20px 20px 60px #c8c8c8,
          inset -20px -20px 60px #ffffff;
}

//Images

%image {
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
}

.image {
  @extend %image;

  //Illustrations
  &-supra {
      background-image: url('/images/mcd/illustrations/Totota-Supra.jpg');

      &-bi-font {
        background-image: url('/images/mcd/illustrations/Totota-Supra-hh-font.jpg');
      }
  }
  &-verso {
      background-image: url('/images/mcd/illustrations/Toyota-Corrola-Verso-2010.jpg');
  }

  //Sketches
  &-amg {
      background-image: url('/images/mcd/sketches/Mercedes-AMG-One.jpg');
  }
  &-ares {
      background-image: url('/images/mcd/sketches/2020-Ares-Design-S-Project.jpg');
  }
  &-mcqueen {
      background-image: url('/images/mcd/sketches/Lightning-McQueen.jpg');
  }

  //Visual Tuning
  &-gtc {
      background-image: url('/images/mcd/visual-tuning/Opel-Astra-H-GTC-Tuning.png');
  }
  &-bmw-320 {
      background-image: url('/images/mcd/visual-tuning/BMW-320.jpg');
  }
  &-celica {
      background-image: url('/images/mcd/visual-tuning/Toyota-Celica-Visual-Tuning.jpg');
  }
}

.card-image {
  height: 200px;
}

.product-image {
  min-width: 250px;
  min-height: 225px;
}

.custom-img-wrapper {
  padding: 30px;

  .custom-image-row {
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      z-index: 2;
    }
    margin-left: -50px;
    aspect-ratio: 1;
    width: 125px;
    background-color: white;
  
    @include media-breakpoint-up(lg) {
      width:200px;
      margin-left: -75px;
    }
  }

  .custom-profile-image {
    margin-left: 0px;
  }
}