html {
  overflow-x: hidden;

  /* Prevent scroll on narrow devices */
}

body {
  overflow-x: hidden;

  /* Prevent scroll on narrow devices */

  padding-top: 72px;
}

@media (max-width: 991.98px) {
  .custom-offcanvas {
    position: fixed;
    top: 72px;

    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;

    &.open {
      visibility: visible;
      transform: translateX(-100%);
    }

  }

  .custom-offcanvas-product {
    position: fixed;
    top: 130px;
  }
}

@media (min-width: 768px) {
}

.search-box {
  width: 300px;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: $h6-font-size;
}
