

// Fonts
$font-family-sans-serif: 'Titillium Web', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-size-base: 1rem;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * .8;
$font-size-lg: $h6-font-size;
$nav-link-font-size: $font-size-base;

//Button
$input-btn-padding-y-lg: .7rem;
$input-btn-padding-x-lg: 1.2rem;
$input-btn-font-size-lg: $font-size-lg !default;

//Colors
$primary: hsl(212, 66%, 45%);
$secondary: hsl(214, 89%, 55%);
$gradient: linear-gradient(to left, $primary, $secondary);
$white: hsl(0, 0%, 98%);
$light: hsl(0, 0%, 92%);
$black: hsl(0, 0%, 16%);
$dark: $black;
$gray: hsl(0, 4%, 33%);
$body-color: $black;
$body-bg: $light;
$link-color: $primary;
$box-shadow:  15px 15px 20px hsl(0, 0%, 88%),
-15px -15px 35px #ffffff;
$box-shadow-inset: $box-shadow;

$carousel-control-color: $primary;
$carousel-indicator-active-bg: $primary;

//Spacing
$border-width: 0;
$border-radius: 0.75rem;
$border-radius-lg: $border-radius;

$card-bg: $light;
$list-group-bg: $light;
$dropdown-bg: $light;

$form-floating-height: 3.25rem;